<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    city:<%= typeof city == 'undefined'?'': city %></br>
    max :<%= typeof max == 'undefined' ?'':max %></br>
    min :<%= typeof min == 'undefined' ? '':min %></br>
    weather :<%= typeof weather == 'undefined' ? '':weather %></br>
</body>
</html>